html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; }

/* Necessary for Sticky footer */
html {
  position: relative; }

.container-full {
  margin: 0 auto;
  width: 100%; }

#faq {
  display: none; }

.row {
  max-width: 100%; }

/*#sidebar, #footer {
  min-width:400px;
  width:20%;
  max-width:$sidebarMaxWidth;
}*/
#sidebar-parent, #application, #page {
  height: 100%; }

#sidebar {
  /*position:absolute;
  top:0;
  right:0;*/
  z-index: 2;
  padding: 0 20px;
  box-shadow: 0 10px 20px 1px #ddd;
  background-color: #fff;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }
  #sidebar #search {
    display: block;
    margin: 20px auto 0;
    position: relative;
    width: 166px;
    font-weight: normal;
    text-align: center;
    border-radius: 20px; }
    #sidebar #search input {
      padding-left: 24px;
      width: auto; }
    #sidebar #search label {
      position: absolute;
      top: 6px;
      left: 6px; }
      #sidebar #search label i {
        opacity: 0.8; }
  #sidebar table {
    opacity: 0;
    table-layout: fixed; }
  #sidebar .breadcrumb {
    margin-top: 20px;
    margin-bottom: -20px;
    padding: 8px;
    background-color: transparent;
    font-size: 16px;
    margin-left: 0; }
    #sidebar .breadcrumb li:only-child {
      display: none; }
    #sidebar .breadcrumb li:last-child {
      font-weight: bold;
      color: #000; }
    #sidebar .breadcrumb li {
      display: inline-block;
      color: #027ea4;
      font-size: 90%; }
      #sidebar .breadcrumb li::after {
        color: #000;
        content: "  / ";
        margin-right: 3px; }
      #sidebar .breadcrumb li:last-child::after {
        content: ""; }
  #sidebar table {
    border: none;
    margin-top: 20px;
    margin-bottom: 150px; }
    #sidebar table thead {
      font-family: 'Montserrat', 'Tahoma', sans-serif;
      text-transform: uppercase; }
    #sidebar table .value, #sidebar table .value2, #sidebar table .diff {
      text-align: right; }
    #sidebar table .value {
      font-weight: bold;
      color: #353535; }
    #sidebar table td.value, #sidebar table td.value2, #sidebar table td.diff {
      font-size: 90%; }
    #sidebar table .total {
      border-top: 2px #ddd solid;
      text-transform: uppercase;
      font-weight: bold; }
    #sidebar table .diff {
      font-weight: bold; }
    #sidebar table.table-hover tbody tr:hover td, #sidebar table.table-hover tbody tr.hover td {
      background-color: #edf4f7; }

svg#canvas {
  /*position:absolute;
  top:0;
  left:0;*/
  z-index: 0;
  display: block;
  background-color: #fff; }
  svg#canvas rect {
    fill: #fff; }
  svg#canvas g.blur {
    opacity: 0;
    pointer-events: none; }
  svg#canvas .disabled {
    pointer-events: none; }
  svg#canvas .shadow-parent {
    pointer-events: none; }
  svg#canvas text {
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0.6;
    text-shadow: white 0 1px 0;
    pointer-events: none; }
    svg#canvas text.headline {
      opacity: 1;
      fill: #737373;
      font-size: 30px;
      text-transform: none; }
  svg#canvas circle {
    -webkit-transform: translateZ(0);
    -o-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
    fill: transparent;
    stroke: #000;
    stroke-width: 1.5; }
  svg#canvas circle:hover, svg#canvas circle.hover {
    stroke-width: 2; }
  svg#canvas circle.surplus {
    stroke-width: 2; }
  svg#canvas circle.surplus:hover {
    stroke-width: 4; }

#not-supported {
  position: relative;
  z-index: 1;
  margin-right: 500px;
  height: 100%;
  background-color: #fff; }
  #not-supported img {
    position: absolute;
    left: 10%;
    top: 50%;
    width: 90%;
    margin-top: -400px; }
  #not-supported .message {
    background-color: transparent;
    background-color: rgba(255, 255, 255, 0.8);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCFFFFFF',endColorstr='#CCFFFFFF');
    zoom: 1;
    padding: 20px 500px 20px 0;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -200px;
    text-align: center; }
    #not-supported .message .try, #not-supported .message em {
      color: gray; }
    #not-supported .message em {
      font-size: 12px; }
    #not-supported .message .try {
      font-size: 10px;
      cursor: pointer; }

.app .top-nav {
  margin-top: 4px; }
  .app .top-nav ul {
    float: right; }
  @media only screen and (max-width: 40em) {
    .app .top-nav {
      text-align: left; }
      .app .top-nav .button {
        margin: .5em 0; } }
.app h1.page-title {
  color: #353535;
  display: inline-block;
  border-left: 1px solid #353535;
  padding: 5px 0 0px 13px;
  margin: 0px 0px 2px 16px;
  position: relative;
  top: 11px;
  /*@media only screen and (max-width: 40em) {
      top:0;
      border:none;
      display:block;
      margin:0;
      padding:0;

    }*/ }

table thead, table tfoot {
  background-color: transparent; }

footer.site-footer {
  position: absolute;
  bottom: 0;
  width: 100%; }

footer.toggle-footer {
  height: 50px; }
  footer.toggle-footer #toggle {
    display: block;
    line-height: 50px;
    font-size: 150%; }

abbr {
  font-size: 100%; }

.reveal-modal.open {
  overflow-x: hidden;
  overflow-y: auto;
  height: 80%; }

/*from the applicaiton.scss file*/
.brand {
  float: left;
  padding-right: 8px; }

ul.nav {
  list-style: none;
  margin: 0 0 2em;
  padding: 0; }

ul.nav li {
  display: inline; }

#flash_notice, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0; }

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6; }

#flash_alert {
  background-color: #FCC;
  border: solid 1px #C66; }

.tooltip {
  background: #353535 !important; }

.browsehappy {
  background: #f2ba13;
  width: 100%;
  position: absolute;
  top: 0;
  padding: 20px; }
