@import url('//fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,700');
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Open Sans', 'Arial', sans-serif; }

/* Necessary for Sticky footer */
html {
  position: relative; }

.container-full {
  margin: 0 auto;
  width: 100%; }

#faq {
  display: none; }

a {
  color: #027ea4;
  font-weight: 700; }
  a:hover {
    color: #353535;
    text-decoration: none; }

h1, h2 {
  font-weight: normal;
  color: #000000;
  margin: 0;
  font-family: 'Montserrat', 'Tahoma', sans-serif;
  text-transform: uppercase; }

h1 {
  font-size: 30px;
  line-height: 41px; }

h2 {
  font-size: 18px;
  line-height: 30px; }

header.site-header {
  padding: 0 15px; }
  header.site-header a:hover .logo, header.site-header a:active .logo {
    opacity: .7;
    transition: opacity 300ms ease-out; }
  header.site-header .logo {
    height: 75px;
    width: auto;
    margin-right: 20px; }
  header.site-header .pagetitle {
    display: inline;
    vertical-align: middle; }
  header.site-header .nav {
    margin-top: 15px;
    margin-bottom: 0; }

.divider {
  width: 100%;
  background: #027ea4;
  height: 10px;
  padding-top: 10px; }

#tooltip {
  font-size: 12px;
  position: absolute;
  padding: 5px;
  z-index: 100000; }
  #tooltip div {
    background-color: #000;
    color: #fff;
    color: #fff;
    padding: 5px 8px 4px 8px;
    text-align: left;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px; }
    #tooltip div span {
      font-weight: bold; }

/*#sidebar, #footer {
  min-width:400px;
  width:20%;
  max-width:$sidebarMaxWidth;
}*/
#sidebar {
  /*position:absolute;
  top:0;
  right:0;*/
  z-index: 2;
  padding: 0 20px;
  box-shadow: 0 0 20px 1px #ddd;
  background-color: #fff;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }
  #sidebar #search {
    display: block;
    margin: 20px auto 0;
    position: relative;
    width: 166px;
    font-weight: normal;
    text-align: center;
    border-radius: 20px; }
    #sidebar #search input {
      padding-left: 24px;
      width: auto; }
    #sidebar #search label {
      position: absolute;
      top: 6px;
      left: 6px; }
      #sidebar #search label i {
        opacity: 0.8; }
  #sidebar table {
    opacity: 0; }
  #sidebar .breadcrumb {
    margin-top: 20px;
    margin-bottom: -20px;
    padding: 8px;
    background-color: transparent;
    font-size: 16px; }
    #sidebar .breadcrumb li:only-child {
      display: none; }
    #sidebar .breadcrumb li:last-child {
      font-weight: bold; }
  #sidebar table {
    margin-top: 20px;
    /*.name {
      word-break:break-all;
      word-break:break-word;

      -webkit-hyphens:auto;
      -moz-hyphens:auto;
      hyphens:auto;
    }*/
    margin-bottom: 150px; }
    #sidebar table .value, #sidebar table .value2, #sidebar table .diff {
      text-align: right; }
    #sidebar table td.value, #sidebar table td.value2, #sidebar table td.diff {
      font-size: 90%; }
    #sidebar table .total {
      border-top: 2px #ddd solid;
      text-transform: uppercase;
      font-weight: bold; }
    #sidebar table .diff {
      font-weight: bold; }
    #sidebar table.table-hover tbody tr:hover td, #sidebar table.table-hover tbody tr.hover td {
      background-color: #edf4f7; }

footer.site-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  padding: 5 20px;
  font-size: rem-calc(13);
  background: #027ea4;
  text-transform: uppercase;
  margin-top: rem-calc(16);
  color: #fff; }
  footer.site-footer .feedback {
    text-align: center; }
  footer.site-footer ul.list-inline {
    float: right;
    font-size: rem-calc(13);
    margin: 0;
    padding: 0; }
  footer.site-footer li {
    margin: 0;
    padding: 0 0 0 10px; }
    footer.site-footer li:first-child {
      padding: 0; }
  footer.site-footer a:link, footer.site-footer a:visited {
    color: #fff; }
  footer.site-footer a:hover, footer.site-footer a:active {
    color: #353535; }
  footer.site-footer p {
    margin: 0; }

svg#canvas {
  /*position:absolute;
  top:0;
  left:0;*/
  z-index: 0;
  display: block;
  background-color: #fff; }
  svg#canvas rect {
    fill: #fff; }
  svg#canvas g.blur {
    opacity: 0;
    pointer-events: none; }
  svg#canvas .disabled {
    pointer-events: none; }
  svg#canvas .shadow-parent {
    pointer-events: none; }
  svg#canvas text {
    text-transform: uppercase;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-weight: bold;
    opacity: 0.6;
    text-shadow: white 0 1px 0;
    pointer-events: none; }
    svg#canvas text.headline {
      opacity: 1;
      fill: #737373;
      font-size: 40px;
      text-transform: none; }
  svg#canvas circle {
    -webkit-transform: translateZ(0);
    -o-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
    fill: transparent;
    stroke: #000;
    stroke-width: 1.5; }
  svg#canvas circle:hover, svg#canvas circle.hover {
    stroke-width: 2; }
  svg#canvas circle.surplus {
    stroke-width: 2; }
  svg#canvas circle.surplus:hover {
    stroke-width: 4; }

#not-supported {
  position: relative;
  z-index: 1;
  margin-right: 500px;
  height: 100%;
  background-color: #fff; }
  #not-supported img {
    position: absolute;
    left: 10%;
    top: 50%;
    width: 90%;
    margin-top: -400px; }
  #not-supported .message {
    background-color: transparent;
    background-color: rgba(255, 255, 255, 0.8);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCFFFFFF',endColorstr='#CCFFFFFF');
    zoom: 1;
    padding: 20px 500px 20px 0;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -200px;
    text-align: center; }
    #not-supported .message .try, #not-supported .message em {
      color: gray; }
    #not-supported .message em {
      font-size: 12px; }
    #not-supported .message .try {
      font-size: 10px;
      cursor: pointer; }
