@import url('//fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,700');

$ben-franklin-blue:#027ea4;
$whitesmoke:#edf4f7;
$mine-shaft:#353535;
$black:#000000;
$white:#fff;
$svgBgColor:$white;//#f9f9f9;
$primary-font:'Open Sans', 'Arial', sans-serif;
$secondary-font:'Montserrat', 'Tahoma', sans-serif;

@mixin letterpress {
  text-shadow:white 0 1px 0;
}

@mixin background-color-alpha($color, $alpha) {
  $rgba: rgba($color, $alpha);
  $ie-hex-str: ie-hex-str($rgba);
  background-color: transparent;
  background-color: $rgba;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$ie-hex-str}',endColorstr='#{$ie-hex-str}');
  zoom: 1;
}

html, body {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  overflow:hidden;
  font-family:$primary-font;
}

/* Necessary for Sticky footer */
html {
  position: relative;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

#faq {
  display: none;
}

a {
  color:$ben-franklin-blue;
  font-weight: 700;
  &:hover {
    color:$mine-shaft;
    text-decoration: none;
  }
}

h1, h2 {
  font-weight:normal;
  color:$black;
  margin:0;
  font-family: $secondary-font;
  text-transform: uppercase;
}

h1 {
  font-size:30px;
  line-height:41px;
}

h2 {
  font-size:20px;
  line-height:30px;
}

header.site-header {
  padding: 0 15px;

  a:hover .logo, a:active .logo {
    opacity:.7;
    transition: opacity 300ms ease-out;
  }
  .logo {
    height: 75px;
    width: auto;
    margin-right: 20px;
  }
  .pagetitle {
    display: inline;
    vertical-align: middle;
  }
}

.divider {
  width: 100%;
  background: $ben-franklin-blue;
  height: 10px;
  padding-top: 10px;
}

#tooltip {
  font-size:12px;
  position:absolute;
  padding:5px;
  z-index:100000;

  div {
    background-color:#000;
    color:#fff;
    color:#fff;
    padding:5px 8px 4px 8px;
    text-align:left;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;

    span {
      font-weight:bold;
    }
  }
}

$sidebarMaxWidth:500px;

/*#sidebar, #footer {
  min-width:400px;
  width:20%;
  max-width:$sidebarMaxWidth;
}*/

#sidebar {
  /*position:absolute;
  top:0;
  right:0;*/
  z-index:2;

  padding:0 20px;

  box-shadow:0 0 20px 1px #ddd;
  background-color:#fff;

  height:100%;
  overflow-y:scroll;
  -webkit-overflow-scrolling: touch;


  #search {
    display:block;
    margin:20px auto 0;
    position:relative;
    width:166px;

    font-weight:normal;
    text-align:center;
    border-radius:20px;

    input {
      padding-left:24px;
      width:auto;
    }

    label {
      position:absolute;
      top:6px;
      left:6px;

      i {
        opacity:0.8;
      }
    }
  }

  // initially hidden
  table {
    opacity:0;
  }

  .breadcrumb {
    margin-top:20px;
    margin-bottom:-20px;
    padding:8px;
    background-color:transparent;
    font-size:16px;

    li:only-child {
      display: none;
    }

    li:last-child {
      font-weight:bold;
    }
  }

  table {
    margin-top:20px;

    .value, .value2, .diff {
      text-align:right;
    }

    td.value, td.value2, td.diff {
      font-size: 90%;
    }

    .total {
      border-top: 2px #ddd solid;
      text-transform: uppercase;
      font-weight: bold;
    }

    .diff {
      font-weight:bold;
    }

    &.table-hover tbody {
      tr:hover td, tr.hover td {
        background-color:$whitesmoke;
      }
    }

    .name {
      word-break:break-all;
      word-break:break-word;

      -webkit-hyphens:auto;
      -moz-hyphens:auto;
      hyphens:auto;
    }

    margin-bottom:150px;
  }


}

footer.site-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  padding: 5 20px;

  font-size:rem-calc(13);
  background: $ben-franklin-blue;
  text-transform: uppercase;
  margin-top:rem-calc(16);
  color:$white;

  .feedback {
    text-align: center;
  }
  ul.list-inline {
    float: right;
    font-size:rem-calc(13);
    margin:0;
    padding:0;
  }
  li{
    margin:0;
    padding:0 0 0 10px;
    &:first-child{
      padding:0;
    }
  }
  a:link, a:visited {
    color:$white;
  }
  a:hover, a:active{
    color:$mine-shaft;
  }
  p{
    margin:0;
  }
}

svg#canvas {
  /*position:absolute;
  top:0;
  left:0;*/
  z-index:0;
  display:block;

  background-color:$svgBgColor;

  rect {
    fill:#fff;
  }

  g {
    &.blur {
      opacity:0;
      pointer-events:none;
    }
  }

  .disabled {
    pointer-events:none;
  }

  .shadow-parent {
    pointer-events:none;
  }

  text {
    text-transform:uppercase;
    font-family:$primary-font;
    font-weight:bold;

    opacity:0.6;

    @include letterpress;
    pointer-events:none;

    &.headline {
      opacity:1;
      fill:darken($svgBgColor, 55%);
      font-size:40px;
      text-transform:none;
    }
  }

  circle {
    -webkit-transform : translateZ(0);
    -o-transform : translateZ(0);
    -moz-transform : translateZ(0);
    transform : translateZ(0);

    fill:transparent;
    stroke:#000;
    stroke-width:1.5;
  }

  circle:hover, circle.hover {
    stroke-width:2;
  }

  circle.surplus {
    stroke-width:2;
  }

  circle.surplus:hover {
    stroke-width:4;
  }
}

#not-supported {
  position:relative;
  z-index:1;

  margin-right:$sidebarMaxWidth;
  height:100%;

  background-color:$svgBgColor;

  img {
    position:absolute;
    left:10%;
    top:50%;
    width:90%;
    margin-top:-400px;
  }

  .message {
    @include background-color-alpha(#fff, 0.8);
    padding:20px $sidebarMaxWidth 20px 0;

    position:absolute;
    top:50%;
    left:0;
    width:100%;
    margin-top:-200px;
    text-align:center;

    .try, em {
      color:gray;
    }

    em {
      font-size:12px;
    }

    .try {
      font-size:10px;
      cursor:pointer;
    }
  }
}
